## Esercitazione Python -- 18/02/2025

**Liste:**

Scrivi una funzione che prende una lista di numeri e restituisce una nuova lista contenente solo i numeri pari.

Crea una funzione che inverte l'ordine degli elementi in una lista (senza usare reverse() o slicing).

Scrivi un programma che trova il valore più grande e il valore più piccolo in una lista.

In [10]:
a = [1, 2, 3, 4]
b=[]

for x in a:
    if x%2 == 0:
        b.append(x)
b

[2, 4]

In [1]:
a = [1, 2, 3, 4]
b=[]

for x in a:
    b.insert(0,x)
b

[4, 3, 2, 1]

In [6]:
a = [2, 1, 3, 4]
b = []
b.append(a[0])
b.append(a[0])

for x in a:
    if (x < b[0]):
        b[0] = x
    elif (x > b[1]):
        b[1] = x
b

[1, 4]

**Stringhe:**

Scrivi una funzione che conta il numero di vocali in una stringa.

Crea una funzione che verifica se una stringa è un palindromo (si legge allo stesso modo da sinistra a destra e viceversa).

Scrivi un programma che converte una stringa in maiuscolo o minuscolo (a scelta dell'utente).

In [13]:
a = "Ciao Anaconda"
b = 0
for x in a:
    match x.lower():
        case 'a': b+= 1
        case 'e': b+= 1
        case 'i': b+= 1
        case 'o': b+= 1
        case 'u': b+= 1
b

7

In [34]:
a = "hello"
b = a.lower()
bol = True
b=b.replace(" ", "")
c = b[::-1]
n=0
for x in b:
    if(x!=c[n]):
        bol = False
    n+=1
bol

False

**Dizionari:**

Crea un dizionario che contenga alcune parole italiane e le loro traduzioni in inglese. Scrivi un programma che chieda all'utente una parola italiana e restituisca la sua traduzione inglese, oppure un messaggio se la parola non è presente nel dizionario.


Scrivi una funzione che prenda in input un dizionario e una chiave, e restituisca True se la chiave è presente nel dizionario, False altrimenti.

In [4]:
dict = {}
dict = {'quaderno':'notebook', 'portatile':'laptop', 'travestimento':'disguise'}
a = input()
a = a.lower()

print(dict.get(a))

disguise

In [11]:
a = input()
b = input()
k = {}
l={'quaderno':'notebook', 'portatile':'laptop', 'travestimento':'disguise'}
m={'key':'input'}
n={}
o={}
z={}
z={'l':l, 'm':m, 'n':n,'o':o}
z.get(a).get(b)!= None

False

**Cicli for:**

Scrivi un programma che stampa i numeri da 1 a 10 usando un ciclo for.

Crea una funzione che calcola la somma dei numeri in una lista usando un ciclo for.

Scrivi un programma che stampa una tabella di moltiplicazione (ad esempio, da 1 a 10) usando cicli for annidati.

In [14]:
for x in range(1,11):
    print (x)

1
2
3
4
5
6
7
8
9
10

In [16]:
a = [1,2,3,4,5,6]
m=0
for x in a:
    m+=x
m

21

In [22]:
for x in range(1,11):
    for y in range(1,11):
        print (x*y, end='\t')
    print ('\n')

1	2	3	4	5	6	7	8	9	10

2	4	6	8	10	12	14	16	18	20

3	6	9	12	15	18	21	24	27	30

4	8	12	16	20	24	28	32	36	40

5	10	15	20	25	30	35	40	45	50

6	12	18	24	30	36	42	48	54	60

7	14	21	28	35	42	49	56	63	70

8	16	24	32	40	48	56	64	72	80

9	18	27	36	45	54	63	72	81	90

10	20	30	40	50	60	70	80	90	100

**Cicli while:**


Crea una funzione che calcola il fattoriale di un numero usando un ciclo while.

Scrivi un programma che stampa i numeri pari da 0 a 100 usando un ciclo while.

In [25]:
m=1
c=1
a = input()
while(m<int(a)+1):
    c = c * m
    m+=1
c

120

In [47]:
m = 0
while(m<101):
    print (m, end= " ")
    m+=2

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

**List comprehension:**

Usa una list comprehension per creare una nuova lista contenente i quadrati dei numeri da 1 a 10.

Usa una list comprehension per filtrare una lista di stringhe e ottenere solo quelle che iniziano con una determinata lettera.

Usa una list comprehension per creare un dizionario dove le chiavi sono i numeri da 1 a 5 e i valori sono i loro quadrati.

In [35]:
x = [x**2 for x in range(1,11)]
x

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [45]:
x = ['apple','banan','carrot','disk','coconut']
b = input()
y = [a for a in x if a[0][0] == b ]
y

['disk']

In [46]:
d = {}
d = {x:x**2 for x in range(1,6)}
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

**If, else, elif:**

Scrivi una funzione che determina se un numero è positivo, negativo o zero.

Scrivi un programma che calcola il prezzo di un biglietto del cinema in base all'eta

In [31]:
a = 0
if(a == 0):
    print ('Zero')
elif(a < 0):
    print('Negative')
elif(a>0):
    print('Positive')<

Zero

In [34]:
NAge = 12
BAge = 18
a = input()
if(int(a)<NAge):
    print('TotalDiscount')
elif(int(a)<BAge):
    print('MinorDiscount')
else: print('FullPrice')

MinorDiscount

**Matchcase**

Scrivi una funzione che prenda in input un numero intero compreso tra 0 e 5 e restituisca la sua rappresentazione in parole (zero, uno, due, tre, quattro, cinque). Utilizza match/case per implementare la logica.

In [28]:
a = input()

match a:
    case '0':print('Zero')
    case '1':print('Uno')
    case '2':print('Due')
    case '3':print('Tre')
    case '4':print('Quattro')
    case '5':print('Cinque')

Tre